@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --font-main: "Red Hat Display", sans-serif;
}
*{
    font-family: var(--font-main);
}
.font-main {
    font-family: var(--font-main);

}